{% extends 'base.html' %}

{% block content %}

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Location</th>
      <th scope="col">Has Sockets</th>
      <th scope="col">Has Toilet</th>
      <th scope="col">Has WiFi</th>
      <th scope="col">Can Take Calls</th>
      <th scope="col">Seats</th>
      <th scope="col">Coffee Price</th>
      <th scope="col">Picture</th>
      <th scope="col">Take Me There!</th>
    </tr>
  </thead>
    <tbody>
    {% for cafe in cafes: %}
    <tr>
      <td>{{cafe.name}}</td>
      <td>{{cafe.location}}</td>

      {% if cafe.has_sockets == 1: %}
        <td>✅</td>
      {% else: %}
        <td>❌</td>
      {% endif %}

      {% if cafe.has_toilet == 1: %}
        <td>✅</td>
      {% else: %}
        <td>❌</td>
      {% endif %}

      {% if cafe.has_wifi == 1: %}
        <td>✅</td>
      {% else: %}
        <td>❌</td>
      {% endif %}

      {% if cafe.can_take_calls == 1: %}
        <td>✅</td>
      {% else: %}
        <td>❌</td>
      {% endif %}

      <td>{{cafe.seats}}</td>
      <td>{{cafe.coffee_price}}</td>
      <td><a class="btn btn-warning" href="{{ cafe.img_url }}" role="button">Image</a></td>
      <td><a class="btn btn-warning" href="{{ cafe.map_url }}" role="button">Map Url</a></td>
    </tr>

    {% endfor %}
  </tbody>
</table>

  <a class="btn btn-secondary" href="{{ url_for('home') }}" role="button">Return To Index Page</a>


{% endblock %}
